<div class="settings">
  <label for="focusTimeInput">Focus Time</label>
  <input
    [(ngModel)]="focusTime"
    id="focusTimeInput"
    placeholder="Set Focus Time (default: 25min)"
    type="number"
  />

  <label for="shortBreakTimeInput">Short Break Time</label>
  <input
    [(ngModel)]="shortBreakTime"
    id="shortBreakTimeInput"
    placeholder="Set Short Break Time (default: 5min)"
    type="number"
  />

  <label for="longBreakTimeInput">Long Break Time</label>
  <input
    [(ngModel)]="longBreakTime"
    id="longBreakTimeInput"
    placeholder="Set Long Break Time (default: 15min)"
    type="number"
  />

  <button (click)="configUpdate()">Update Config</button>
</div>
