/* You can add global styles to this file, and also import other style files */
body {
  background-color: #e0d1ed;
}

.container {
  width: 95%;
  margin: auto;
}

.count-down {
  display: flex;
  justify-content: center;
  font-size: 18rem;
  color: #4b004c;
}
