/* You can add global styles to this file, and also import other style files */
body {
  background-color: #e0d1ed;
}

a {
  color: #4b004c;
}

a:focus {
  color: #4b004c;
}

a:hover {
  border-bottom: 2px solid #4b004c;
}

.active-link {
  border-bottom: 2px solid #4b004c;
}

.container {
  width: 95%;
  margin: auto;
}

.count-down {
  display: flex;
  justify-content: center;
  font-size: 14rem;
  color: #4b004c;
}

.controls {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

button {
  outline: none;
  border: none;
  background-color: #4b004c;
}

button:focus {
  outline: none;
  border: none;
  background-color: #4b004c;
}

button:hover {
  outline: none;
  border: none;
  background-color: #4b004c;
}

input:focus {
  border: 1px solid #4b004c;
}

@media only screen and (min-width: 590px) {
  .count-down {
    font-size: 18rem;
  }

  .controls {
    width: 60%;
  }
}

@media only screen and (min-width: 820px) {
  .count-down {
    font-size: 18rem;
  }

  .controls {
    width: 40%;
  }
}
