nav {
  margin: 5rem 0;
  width: 100%;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0 0.2rem;
}

a {
  padding: 1.5rem 1rem;
  background-color: #f0b9cf;
}

a:hover {
  color: #4b004c;
}

@media only screen and (max-width: 450px) {
  nav {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 590px) {
  li {
    margin: 0 0.5rem;
  }

  a {
    padding: 1.5rem 2rem;
    background-color: #f0b9cf;
  }

  a:hover {
    color: #4b004c;
  }
}
